{% extends 'core/base.html' %}

{% block content%}
<script>
  $( function() {
    $( "#datepicker" ).datetimepicker(
{
      format: 'd-m-Y',
    }
    );
  } );


</script>

<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-md-12">
                    <div class="slider_text text-center">
                        <h3>Beautiful India</h3>
                        <p>Book and Just leave it on us</p>
                        <a style="text-decoration: none;" href="{% url 'core:project-add' %}" class="boxed-btn3">Travel
                            Now?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Where you want to go?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="api/hotel-search" method="GET">
                        <div class="input_field">
                            <input type="text" placeholder="Where to go?" name="query" id="query">
                        </div>
                        <div class="input_field">
                            <input autocomplete="off" id="datepicker" placeholder="Date" class="hasDatepicker">
                        </div>
                        <div style=" margin-top:0px; " data-role="fieldcontain">
                            <label for="slider">Price:</label><br/>
                            <b>$200</b> <input type="range" name="slider" id="slider" value="25" min="0" max="100"/><b>$10000</b>
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<video id="myVideo" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video>
<div class="content1">
    <section style="padding-left:50px;padding-top:70px;">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h3 class="mb-3">Check out our Latest diares </h3>
                </div>
                <div class="col-5 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                       data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img src="{{ post.0.image_url }}" class="card-img-top" alt="..."
                                                 style="width:100%; height:250px; object-fit:cover">
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="{{ post.0.get_absolute_url }}">{{                                                    post.0.title }}</a></h4>
                                                <p class="card-text">{{post.0.excerpt}}</p>

                                            </div>

                                        </div>
                                    </div>
                                    {% for core in post|slice:"1:" %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img src="{{ core.image_url }}" class="card-img-top" alt="..."
                                                 style="width:100%; height:250px; object-fit:cover">
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="{{ core.get_absolute_url }}">{{core.title                                             }}</a></h4>
                                                <p class="card-text">{{core.excerpt}}</p>

                                            </div>

                                        </div>
                                    </div>


                                    {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last%}
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img src="{{ core.image_url }}" class="card-img-top" alt="..."
                                                 style="width:100%; height:250px; object-fit:cover">
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="{{ core.get_absolute_url }}">{{core.title                                                    }}</a></h4>
                                                <p class="card-text">{{core.excerpt}}</p>

                                            </div>

                                        </div>
                                    </div>
                                    {% endif %}
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
