{% extends 'core/base.html' %}
{% load static %}

{% block content%}

<div style="background:url({{ post.image_url }});background-size:cover;" class="jumbotron p-4 p-md-5 text-white">
    <div class="col-md-6 px-2">
        <h1 class="display-4 font-italic"> Measuring the earth with our feet.</h1>
        <p style="color:white;" class="lead my-3">It’s about the journey, It’s all here!, It’s all right here, It’s time to fly, Kick your feet up and go, Leave the driving to us.</p>
    </div>
</div>
<main role="main">
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ post.title}} </h2>
                <p class="lead">{{ post.excerpt }}</p>
                <p class="lead">{{ post.description }}</p>
            </div>
            <div class="col-md-5">
                    <img style="display:block; width:100%; height:100%;object-fit: cover;" width="100%"
                     height="100%" src="{{ post.image_url }}" >
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>
{% endblock %}